@import "tailwindcss";

@theme {
  /* colors */
  --color-white-900: #ffffff;
  --color-white-600: #ffffff99;
  --color-white-500: #f2f2f280;
  --color-white-100: #f2f2f21a;

  --color-stone-925: #0c0c0c;

  --color-neutral-850: #222223;
  --color-neutral-950: #151515;

  --color-gray-opacity: rgba(21, 21, 21, 0.6);
  --color-purple-1: #832388;
  --color-pink-1: #e3436b;
  --color-orange-1: #f0772f;

  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-outfit: "Outfit", sans-serif;
  --font-pixelify: "Pixelify Sans", cursive;

  /* shadows */
  --shadow-button: inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -3px 8px rgba(255, 255, 255, 0.1);
  --shadow-highlight-royal: 0 0 12px #e3436b99;
  --inset-shadow-project-card: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -1px 0 rgba(255, 255, 255, 0.15);
  --shadow-project-card: 0 30px 120px rgba(0, 0, 0, 0.8),
    0 0 60px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.4);

  --inset-shadow-ball: 0 1px 0 rgba(255, 255, 255, 0.2);
  --shadow-ball: 0 0 24px rgba(255, 255, 255, 0.3);
  --text-shadow-white: 0 0 8px #ffffff73;
  --text-shadow-simple: 0 2px 8px rgba(255, 255, 255, 0.5),
    0 4px 30px rgba(255, 255, 255, 0.25);
}

html {
  font-family: var(--font-outfit);
  color: yellow;
}

.gradient-royal {
  background: linear-gradient(
    to right,
    var(--color-purple-1),
    var(--color-pink-1),
    var(--color-orange-1)
  );
}

.highlight-top {
  background-image: linear-gradient(
    90deg,
    #0000 10%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.6) 65%,
    #0000 90%
  );
  opacity: 0.7;
}
