@import "tailwindcss";
@theme {
  /* colors */
  --color-white-900: #ffffff;
  --color-white-600: #ffffff99;
  --color-white-500: #f2f2f280;
  --color-white-100: #f2f2f21a;

  --color-stone-925: #0c0c0c;
  --color-stone-925-60: #0c0c0c99;

  --color-neutral-850: #222223;
  --color-neutral-950: #151515;
  --color-neutral-950-60: #15151599;

  --color-lavander-100: #f6e8ea;
  --color-gum-100: #ef626c;
  --color-lemon-100: #c3d350;

  --color-gray-250: #c0bfbd;
  --color-gray-opacity: rgba(21, 21, 21, 0.6);
  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-outfit: "Outfit", sans-serif;
  --font-pixelify: "Pixelify Sans", times;
  --font-playfair: "Playfair Display", times, serif;
  --font-grotesk: "Hanken Grotesk", sans-serif;

  /* bg grid */
  --color-grid-line: rgba(255, 255, 255, 0.1);
  /* shadows */
  --shadow-button:
    inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -3px 8px rgba(255, 255, 255, 0.1);
  --shadow-highlight-button: 0 0 12px #ffffff40;
  /* text shadows */
  --text-shadow-title-name:
    0 0 8px #ffffff73, 0 -4px 4px rgba(240, 119, 47, 0.25),
    0 4px 4px rgba(18, 72, 139, 0.25);
  --text-shadow-title:
    0 0 4px #ffffff66, 0 -4px 3px rgba(240, 119, 47, 0.25),
    0 4px 3px rgba(18, 72, 139, 0.25);
  --text-shadow-white: 0 0 8px #ffffff73;
  --text-shadow-simple:
    0 2px 8px rgba(255, 255, 255, 0.5), 0 4px 30px rgba(255, 255, 255, 0.25);
  --text-shadow-simple-50:
    0 2px 8px rgba(255, 255, 255, 0.2), 0 4px 30px rgba(255, 255, 255, 0.15);
}
@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
  .bg-grid {
    background-size: 60px 60px;
    background-image:
      linear-gradient(90deg, #ffffff10 1px, #0000 1px),
      linear-gradient(#ffffff10 1px, #0000 1px);
  }
  .mask-radial-fade {
    mask-image: radial-gradient(ellipse at center, black 20%, transparent 80%);
  }
}

html {
  font-family: var(--font-outfit);
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
button {
  line-height: 100%;
}
