@import "tailwindcss";
@theme {
  /* colors */
  --color-white-900: #ffffff;
  --color-white-600: #ffffff99;
  --color-white-500: #f2f2f280;
  --color-white-100: #f2f2f21a;

  --color-stone-925: #0c0c0c;
  --color-stone-925-60: #0c0c0c99;

  --color-neutral-850: #222223;
  --color-neutral-950: #151515;
  --color-neutral-950-60: #15151599;

  --color-blue-950: #12488b;
  --color-gray-250: #c0bfbd;

  --color-forest-green: #218859;
  --color-gray-opacity: rgba(21, 21, 21, 0.6);
  --color-purple-1: #832388;
  --color-pink-1: #e3436b;
  --color-orange-1: #f0772f;

  /* fonts */
  --font-jetbrains-mono: "JetBrains Mono", monospace;
  --font-outfit: "Outfit", sans-serif;
  --font-pixelify: "Pixelify Sans", cursive;

  /* shadows */
  --shadow-project-img: 0 40px 50px 10px #00000040;
  --shadow-button: inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -3px 8px rgba(255, 255, 255, 0.1);
  --shadow-highlight-royal: 0 0 12px #e3436b99;
  --shadow-project-card: 0 30px 120px rgba(0, 0, 0, 0.8),
    0 0 60px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.4);
  --shadow-ball: 0 0 24px rgba(255, 255, 255, 0.3);
  --shadow-minicard: 0 0 12px rgba(0, 0, 0, 0.6);

  /* inset shadows */
  --inset-shadow-project-card: 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -1px 0 rgba(255, 255, 255, 0.15);
  --inset-shadow-project-card-hover: 0 0 0 1px rgba(255, 255, 255, 0.5);
  --inset-shadow-ball: 0 1px 0 rgba(255, 255, 255, 0.2);
  --inset-shadow-minicard: inset 0 1px #ffffff1a, inset 0 0 0 1px #ffffff0f;

  /* text shadows */
  --text-shadow-title-name: 0 0 8px #ffffff73,
    0 -4px 4px rgba(240, 119, 47, 0.25), 0 4px 4px rgba(18, 72, 139, 0.25);
  --text-shadow-title: 0 0 4px #ffffff66, 0 -4px 3px rgba(240, 119, 47, 0.25),
    0 4px 3px rgba(18, 72, 139, 0.25);
  --text-shadow-white: 0 0 8px #ffffff73;
  --text-shadow-simple: 0 2px 8px rgba(255, 255, 255, 0.5),
    0 4px 30px rgba(255, 255, 255, 0.25);
  --text-shadow-simple-50: 0 2px 8px rgba(255, 255, 255, 0.2),
    0 4px 30px rgba(255, 255, 255, 0.15);

  /* animations */
  --animate-blink: blink 1s step-end infinite;
}
html {
  font-family: var(--font-outfit);
  color: yellow;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
a,
button {
  line-height: 100%;
}

.hero-bg {
  background: url("./assets/hero-bg.png") no-repeat center top/cover;
}

.gradient-royal {
  background: linear-gradient(
    to right,
    var(--color-purple-1),
    var(--color-pink-1),
    var(--color-orange-1)
  );
}

.highlight-top {
  background-image: linear-gradient(
    90deg,
    #0000 10%,
    rgba(255, 255, 255, 0.6) 35%,
    rgba(255, 255, 255, 0.9) 50%,
    rgba(255, 255, 255, 0.6) 65%,
    #0000 90%
  );
  opacity: 0.7;
}

.domHoverBg {
  background-image: radial-gradient(circle at 50% 0, #e5334566, #0000 80%),
    radial-gradient(circle at 50% 0, #8b1c25, #0000);
}
.classmindHoverBg {
  background-image: radial-gradient(circle at 50% 0, #6666d833, #0000 80%),
    radial-gradient(circle at 50% 0, #3a3a90, #0000);
}
.portifolioHoverBg {
  background-image: radial-gradient(circle at 50% 0, #e5334566, #0000 80%),
    radial-gradient(circle at 50% 0, #8b1c25, #0000);
}
.homeRadial {
  background-image: radial-gradient(circle at 50% 0, #dd416d21, #0000 60%);
}

.teste1 {
  z-index: -1;
  border-radius: 16px;
  inset: 0%;
  position: absolute;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
