@import "tailwindcss";
@theme {
  /* colors */
  --color-white-900: #ffffff;
  --color-white-600: #ffffff99;
  --color-white-500: #f2f2f280;
  --color-white-100: #f2f2f21a;

  --color-stone-920: #0c0c0c;
  --color-stone-925: #030303;

  --color-neutral-850: #222223;
  --color-neutral-950: #151515;

  --color-pinkred-100: #e53344;

  --color-gray-250: #c0bfbd;

  --color-lemon-100: #c3d350;
  --color-lemon-200: #00bc7d;
  --color-lemon-800: #00130d;
  /* fonts */
  --font-jetbrains: "JetBrains Mono", monospace;
  --font-pixelify: "Pixelify Sans", times;
  --font-elegant: "Playfair Display", times, serif;
  --font-main: "Hanken Grotesk", sans-serif;

  /* bg grid */
  --color-grid-line: rgba(255, 255, 255, 0.1);
  /* shadows */
  --shadow-blocks-red:
    rgba(229, 51, 68, 0.4) -5px 5px, rgba(229, 51, 68, 0.3) -10px 10px,
    rgba(229, 51, 68, 0.2) -15px 15px, rgba(229, 51, 68, 0.1) -20px 20px,
    rgba(229, 51, 68, 0.05) -25px 25px;
  --shadow-blocks-purple:
    rgba(99, 99, 219, 0.4) 5px 5px, rgba(99, 99, 219, 0.3) 10px 10px,
    rgba(99, 99, 219, 0.2) 15px 15px, rgba(99, 99, 219, 0.1) 20px 20px,
    rgba(99, 99, 219, 0.05) 25px 25px;
  --shadow-button:
    inset 0 1px rgba(255, 255, 255, 0.15),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1),
    0 -3px 8px rgba(255, 255, 255, 0.1);
  --shadow-highlight-button: 0 0 12px #ffffff40;
  --shadow-circle:
    inset 0 2px 3px rgba(255, 255, 255, 0.2),
    inset 0 -2px 3px rgba(0, 0, 0, 0.7),
    inset 2px 0 2px rgba(255, 255, 255, 0.1),
    inset -2px 0 2px rgba(255, 255, 255, 0.1);
  /* text shadows */
  --text-shadow-title-name:
    0 0 8px #ffffff73, 0 -4px 4px rgba(240, 119, 47, 0.25),
    0 4px 4px rgba(18, 72, 139, 0.25);
  --text-shadow-title:
    0 0 4px #ffffff66, 0 -4px 3px rgba(240, 119, 47, 0.25),
    0 4px 3px rgba(18, 72, 139, 0.25);
  --text-shadow-white: 0 0 8px #ffffff73;
  --text-shadow-simple:
    0 2px 8px rgba(255, 255, 255, 0.5), 0 4px 30px rgba(255, 255, 255, 0.25);
  --text-shadow-simple-50:
    0 2px 8px rgba(255, 255, 255, 0.2), 0 4px 30px rgba(255, 255, 255, 0.15);
}
@layer utilities {
  .small-caps {
    font-variant: small-caps;
  }
  .bg-grid {
    background-size: 60px 60px;
    background-image:
      linear-gradient(90deg, #ffffff10 1px, #0000 1px),
      linear-gradient(#ffffff10 1px, #0000 1px);
  }
  .mask-radial-fade {
    mask-image: radial-gradient(ellipse at center, black 20%, transparent 80%);
  }
}

html {
  font-family: var(--font-main);
  scroll-behavior: smooth;
}
body {
  color: var(--color-zinc-400);
}
section {
  scroll-margin-top: 100px;
}

/* SmootScroll */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
